.jogada{
    height: 77px;
    width: 24px;
    background-color: rgb(100, 89, 89);
    position: relative;
}
.acao{
    height: 12px;
    width: 24px;
    margin-bottom: 1px;
    position: absolute;
    top:0;
}
.bliad{
    height: 25px;
    width: 24px;
    margin-bottom: 1px;
    position: absolute;
    top:13px;
}
.pote{
    height: 12px;
    width: 24px;
    background-color: #382C2C;
    margin-bottom: 1px;
    position: absolute;
    bottom:0;
}