#painel{
    height: 482px;
    width: 1100px;
    background-color: darkgrey;
}

#caixa{
    height: 482px;
    width: 1100px;
    overflow: hidden;
}

#caixa_interna{
    height: 482px;
    width: 2400px;
}

#caixa_painel{
    float: left;
    overflow: hidden;
    width: 1000px;
}

#caixa_timeline{
    float: left;
    width: 100px;
    overflow: hidden;
}

#caixa_foto{
    float: left;
    height: 482px;
    width: 1100px;
    background-color: #666;
    overflow: hidden;
}